 /* This is the styesheet for all other pages pages.*/
 
 body {
    background-color: rgb(206, 203, 179);
}

h1 {
   color: rgb(80, 116, 189);
}

h2 {color: rgb(17, 32, 32) }

#optionsWrapper{
    margin-top: 30%; background-color: gray; width: 70%; height: 45px;
}

#optionsInHolder {
    width: 90%; height: 35px; background-color: darkolivegreen; margin-top: 2px;
}


.nextTasks {
   color: cadetblue; font-size: 35pt; font-family: Georgia, 'Times New Roman', Times, serif; margin-bottom: 25pt; 
}

a {
    color: darkcyan; font-size: 20pt; font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.flash          { background: #cee5F5; padding: 18pt;
    border: 1px solid #aacbe2; }

.error          { background: #f0d6d6; padding: 13pt; }

/*
Below would be used to control the registration and login pages.
*/

#topArea{width: 100%; height: 9%; background-color: #cee5F5;}

#AppName{
    color: rgb(57, 145, 57);  font-size: 25pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#leftSide{width: 30%; height: 400px; background-color: rgb(158, 95, 160); float: left;}

#rightSide{width: 70%; height: 405px; background-color: cornflowerblue; float: right;}

#inputArea{width: 55%; height: 150px; background-color: darkcyan; margin-top: 3%;}

#sendToLoginLink{color: darkmagenta; text-align: center; font-family: cursive; font-size: 16px;}

#sendToRegisterLink{color: darkmagenta; text-align: center; font-family: cursive; font-size: 16px;}



#footer {
    float: left; margin-top:2pt; width: 100%; height: 24px;
  }
  
  .footer_text {
      text-align: center; color: rgb(103, 95, 158); font-size: 13pt; font-family: cursive; 
      margin-top: 2pt; margin-bottom: 2px;
  }