<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='supportingStyles.css') }}"></link>
    <meta charset="utf-8" />
    <title>Login Page</title>
</head>
<body>
        <div id="topArea">
                <p id="AppName">Welcome to DigiSignFile app by JustNET</p>
        </div>
        <div id="leftSide">
                <img class="leftImgs" src="{{ url_for('static', filename='signDoc_2.jpg') }}" width="100%" height="200">
                <img class="leftImgs" src="{{ url_for('static', filename='signDoc_4.jpg') }}" width="100%" height="200">
        </div>
        <div id="rightSide">
    
            <center><div id="inputArea">
                        <form action="http://localhost:5000/loginAccess" method="post">
                        <br>
                        <br>
                        <br>
                        <label for="username">Username</label>
                        <input name="username" id="username" required>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required>
                        <br>
                        <br>
                        <input type="submit" value="login">
                        </form>
            </div></center>
    
            <hr />
            <div><center><a id="sendToRegisterLink" href="/sendToRegister">Click here to register.</a></center></div>
            <hr />
        </div>     
</body>
</html>