<!doctype html>
<html>
   <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='supportingStyles.css') }}"></link>
        <title>Verification Status</title>
   </head>
   <body>
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
		
    <h1>Great! File verification was successful. Thank you for using DigiSignFile app.</h1>
    <h2>You can again:</h2>
    <p>Upload/Sign or Verify another file: <a href = "{{ url_for('index') }}"> Upload a new file</a></p>
    <hr />
    <div class="footer">
       <p class="footer_text">&copy JustNET</p>
    </div>
   </body>
</html>