<!doctype html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='supportingStyles.css') }}"></link>
        <title>Successful upload page</title>
    </head>
    <body>
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
		
    <h1>File successfully uploaded to online system.</h1>
    <h2>Your available options:</h2>
    <p class="nextTasks">Upload new file: <a href = "{{ url_for('index') }}"> File upload Page</a></p>
    
    <p class="nextTasks">Continue with File Signing: <a href = "{{ url_for('SignUserFile') }}"> File Signing Page</a></p>

   </body>
</html>